/*pallete: #111424#3D4462#A29893#E6D7C2#7A7886#719B52*/
/*Picking palletes from ...hipster pictures best way to get them*/
/*fonts: Letterspace & http://designshack.net/articles/typography/10-more-great-google-font-combinations-you-can-copy*/
body{
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fbfbfb;
}

header{
  margin: -10px -9px 0px -9px;
}

header h1{
  max-width: 230px;
  margin: 0 auto;
  padding: 10px;
  color: #719B52;
}

header a {
  text-decoration: none;
  color: inherit;
}

.header-hashtag{
  color: #85ba5e;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0px 40px 0px 40px;
}

h1,h3 {
  font-family: 'Istok Web', Verdana,Helvetica,sans-serif;
  color:#85ba5e;
}

.list-item, .new-item{
  padding: 10px 30px 10px 30px;
}



.title {
  text-decoration: none;
  color:inherit;
}
/*.list-item:hover {
  background-color: #E6D7C2;
}*/
p {
  font-family: 'Lora',Helvetica,sans-serif;
  font-size: 21px;
  line-height: 1.6;
  color:#7A7888;
}

.time {
  font-family:'Bree Serif', Georgia, serif;
  font-size: 12px;
  color:#7A7887;
}


/*thought styling*/
.thought-item,.new-title{
  margin-top: 10px;
}
.thought-title p,.new-title p{
  font-family: 'Istok Web', Verdana,Helvetica,sans-serif;
  color:#85ba5e;
  display: inline;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
.thought-title h3{
  display: inline;
}
.thought-body, .thought-body p{
  font-family: 'Lora',Helvetica,sans-serif;
  font-weight: 400;
  font-size: 21px;
  line-height: 1.6;
}

.new-body, .new-body p{
  display:block;
}
.button {
  text-decoration: none;
  border:1px solid #85ba5e ;
  border-radius: 11%;
  padding: 0px 10px 0px 10px;
  font-family:'Istok Web', Verdana,Helvetica,sans-serif;
  font-style: normal;
  font-weight: 400;
  display: inline;
  color:#85ba5e;
}

.btn-copy-link {
  text-decoration: none;
  color:#85ba5e;
  float:right;
}

#publish {
    float: right;
}

.delete {
    float: right;
}

.sure {
  float: right;
  display: inline;
}

#create {
  float:right;
}
/*animation timing: https://github.com/miniMAC/magic*/
.animated.fadeIn, .animated.fadeOut {
  -webkit-animation-duration: 2,0s;
  -moz-animation-duration: 2.0s;
  -o-animation-duration: 2.0s;
  animation-duration: 2.0s;
}
