<template name="list">
  <div class="list-item">
    <h3><a class="title" href="#">{{title}}</a>     <a class="delete button" href="#">Delete</a></h3>
    <div class="time">Time Added: {{formatDate dateCreated}}  <a href='#' class="btn-copy-link" data-clipboard-text="{{title}}
====================
{{body}}">Copy Markdown</a></div>
    <p class="body">{{{parseMarkdown body}}}</p>
  </div>
</template>
