<template name="new">
    <div class="new-title">
      <p class="editable">Give it a title</p>
      <a href="#" id="create" class="button">Create</a>
    </div>
    <p class="new-body editable">Write something deep or cool or whatever....</p>
</template>
