<body>
  <header>
    <h1><a href="#" id="header"><span class="header-hashtag">#</span> Markwriter</a></h1>
  </header>
  <div class="container">
    <div class="new-item"></div>
    {{> home}}
  </div>
</body>
