<template name="thought">
  <div class="thought-item">
    <div class="thought-title">
      <p class="editable">{{title}}</p>
      <a href="#" id="publish" class="button">Publish</a>
    </div>
    <p class="thought-body editable">{{{parseMarkdown body}}}</p>
  </div>
</template>
